@media(min-width:480px) {
    .galeria {
        grid-template-columns: 1fr;



        @media(min-width:768px) {
            .galeria {
                grid-template-columns: 1fr 1fr;



                @media (min-width:1200px) {
                    .galeria {
                        grid-template-columns: 1fr 1fr 1fr;
                    }

                }

            }
        }

    }
}